@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --neutral-0: #ffffff;
    --neutral-100: #F2F2F7;
    --neutral-200: #E4E4EF;
    --neutral-600: #404254;
    --neutral-700: #2A2B37;
    --neutral-800: #21222C;
    --neutral-900: #12131A;
    --purple-400: #D3A0FA;
    --purple-500: #C27CF8;
    --yellow-500: #FF9F00;
    --orange-500: #FE8159;
    --red-800: #DA3701;

    --ff-primary: "DM Sans", sans-serif;
    --br-radius: 12px;

    --body-bg: var(--neutral-900);
    --text-clr: var(--neutral-200);
    --title-clr: var(--neutral-100);
    --textarea-bg: var(--neutral-800);
    --textarea-clr: var(--neutral-200);
    --textarea-border-clr: var(--neutral-700);
    --textarea-bg-hover: var(--neutral-700);
    --btn-bg: var(--neutral-700);
    --btn-bg-hover: var(--neutral-600);
}

.lightTheme {
    --body-bg: var(--neutral-0);
    --text-clr: var(--neutral-900);
    --title-clr: var(--neutral-900);
    --textarea-bg: var(--neutral-100);
    --textarea-clr: var(--neutral-700);
    --textarea-border-clr: var(--neutral-200);
    --textarea-bg-hover: var(--neutral-200);
    --btn-bg: var(--neutral-100);
    --btn-bg-hover: var(--neutral-200);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-primary);
    font-size: 62.5%;
}

body {
    background-image: url("./assets/images/bg-dark-theme.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--body-bg);
    color: var(--text-clr);
    font-size: 1.6rem;
}

html.lightTheme body {
    background-image: url("./assets/images/bg-light-theme.png"); 
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    font-family: var(--ff-primary);
    background-color: transparent;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.content,
.page-flex-content {
    width: 90vw;
    max-width: 99rem;
    margin-inline: auto;
}

/* PAGE HEADER */
.page-header {
    padding-block: 1.6rem;
}

.page-flex-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-link:focus {
    outline: 2px solid var(--purple-500);
    outline-offset: 2px;
}

.home-link img {
    display: block;
    width: 18.5rem;
    height: auto;
}

#lightLogo {
    display: none;
}

html.lightTheme #lightLogo {
    display: block;
}

html.lightTheme #darkLogo {
    display: none;
}

.theme-toggle-btn {
    width: 3.2rem;
    height: 3.2rem;
    background-color: var(--btn-bg);
    border: none;
    border-radius: calc(var(--br-radius)/2); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-toggle-btn:focus {
    outline: 2px solid var(--purple-500);
    outline-offset: 2px;
}

#moonIcon {
    display: none;
}

html.lightTheme #moonIcon {
    display: initial;
}

html.lightTheme #sunIcon {
    display: none;
}

/* USER TEXT ANALYZE SECTION */
.user-text-analyze {
    padding-block: 4rem;
}

.page-title {
    color: var(--title-clr);
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1%;
}

.user-text-input-form {
    margin-top: 4rem;
}

textarea {
    width: 100%;
    height: 20rem;
    background-color: var(--textarea-bg);
    border-radius: var(--br-radius);
    border: 1px solid var(--textarea-border-clr);
    color: var(--textarea-clr);
    resize: none;
    padding: 1rem 1rem 0 1rem;
    font-family: var(--ff-primary);
    font-size: 2rem;
    line-height: 140%;
    letter-spacing: -0.6px;
}

textarea.error {
    box-shadow: 0 0 .8rem var(--orange-500);
    border: 1px solid var(--orange-500);
}

.err-message {
    margin-top: 1rem;
    color: var(--orange-500);
    font-size: 1.4rem;
    line-height: 130%;
    display: none;
}

.err-message.show {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.settings-wrapper {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.checkbox-inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* CUSTOM CHECKBOX STYLES */
.single-checkbox-input {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="checkbox"] {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 4px;
    outline: 1px solid var(--text-clr);
    position: relative;
}

input[type="checkbox"]:checked {
    outline-color: transparent;
}

input[type="checkbox"]::before {
    content: url("./assets/images/icon-check.svg");
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-400);
    /* box-shadow: inset 1.5rem 1.5rem var(--purple-400); */
    border-radius: 4px;
    outline: 1px solid var(--purple-400);
    transform: scale(0);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:hover::before {
    background-color: var(--purple-500);
    outline-color: var(--purple-500);
    /* box-shadow: inset 1.5rem 1.5rem var(--purple-500); */
}

input[type="checkbox"]:focus-visible::before {
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
}

input[type="checkbox"]:focus-visible {
    outline: 3px solid var(--purple-400);
    outline-offset: 3px;
    background-color: var(--neutral-0);
    box-shadow: 0 0 0 5px var(--neutral-0);
    border: 2px solid var(--neutral-200);
}

input[type="checkbox"]:checked:focus-visible::before {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

input[type="checkbox"]:checked:focus-visible {
    outline: 3px solid var(--purple-400);
    outline-offset: 3px;
    background-color: var(--neutral-0);
    box-shadow: 0 0 0 5px var(--neutral-0);
    border: 2px solid var(--neutral-200);
}

.char-limit {
    width: 8ch;
    background-color: transparent;
    margin-left: .5rem;
    padding: .4rem 1.2rem;
    border-radius: .5rem;
    border: 1px solid var(--textarea-border-clr);
    font-family: var(--ff-primary);
    opacity: 0;
    visibility: hidden;
    color: var(--text-clr);
    appearance: none;
    -moz-appearance: textfield;
}

#characterLimit:checked ~ .char-limit {
    opacity: 1;
    visibility: visible;
}

/* CHARACTER COUNT SECTION */
.characters-count {
    padding-bottom: 2.4rem;
}

.char-count-result {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
}

.result-box {
    color: var(--neutral-900);
    border-radius: var(--br-radius);
    padding: 2rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
    background-repeat: no-repeat;
    background-size: 15rem 15rem;
    background-position: 128% 0;
}

.result-box p:first-child {
    font-size: 4rem;
    line-height: 100%;
    font-weight: 700;
}

.result-box p:last-child {
    font-size: 2rem;
    line-height: 140%;
    letter-spacing: -0.6px;
}

#noSpace {
    font-size: 1.6rem;
    line-height: 130%;
    opacity: 0;
    visibility: hidden;
}

#noSpace.show {
    opacity: 1;
    visibility: visible;
}

.char-box {
    background-color: var(--purple-400);
    background-image: url("./assets/images/pattern-character-count.svg");
}

.word-box {
    background-color: var(--yellow-500);
    background-image: url("./assets/images/pattern-word-count.svg");
}

.sentence-box {
    background-color: var(--orange-500);
    background-image: url("./assets/images/pattern-sentence-count.svg");
}

/* LETTER DENSITY SECTION*/
.letter-density-result {
    padding-block: 2.4rem;
}

.section-title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -1px;
    margin-bottom: 2rem;
}

.lead-text {
    font-size: 1.6rem;
    line-height: 130%;
    letter-spacing: -0.6px;
}

.lead-text.hide {
    display: none;
}

.density-results {
    display: none;
}

.density-results.show {
    display: block;
}

.letter-density-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.letter-list-item {
    display: grid;
    grid-template-columns: auto 60% 1fr;
    align-items: center;
    gap: 1.4rem;
    font-size: 1.6rem;
    line-height: 130%;
    letter-spacing: -0.6px;
}

.letter {
    width: 1ch;
}

.bar {
    height: 1.2rem;
    background-color: var(--textarea-bg);
    border-radius: 100vmax;
    position: relative;
}

.bar-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 34%;
    border-radius: 100vmax;
    background-color: var(--purple-400);
}

.proportion-calc {
    justify-self: end;
}

.see-more-btn {
    margin-top: 2rem;
    color: var(--text-clr);
    font-size: 2rem;
    line-height: 140%;
    letter-spacing: -0.6px;
    border: none;
    display: flex;
    align-items: center;
    gap: .8rem;
}

.see-more-btn:focus {
    outline: 2px solid var(--purple-500);
    outline-offset: 2px;
}

html.lightTheme .see-more-btn svg path {
    fill: var(--neutral-900);
}

/* MEDIA QUERIES */
@media screen and (min-width: 48rem) {
    .home-link img {
        width: 24.5rem;
    }

    .theme-toggle-btn {
        width: 4.4rem;
        height: 4.4rem;
    }

    .page-title {
        font-size: 6.4rem;
        max-width: 12ch;
        margin-inline: auto;
    }

    .err-message {
        font-size: 1.6rem;
        gap: .8rem;
    }

    .settings-wrapper {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .checkbox-inputs-wrapper {
        flex-direction: row;
        align-items: center;
        gap: 2.4rem;
    }

    .char-count-result {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 0rem;
        column-gap: 1.6rem;
    }

    .result-box {
        padding: 1.6rem 1.2rem;
        height: 15rem;
        background-position: 180% 0;
    }

    .result-box p:first-child {
        font-size: 6.4rem;
        line-height: 100%;
        letter-spacing: 1px;
    }

    .letter-density-result {
        padding-block: 2.4rem;
    }

    .letter-list-item {
        grid-template-columns: auto 80% 1fr;
        gap: 1.4rem;
    }
}

@media screen and (min-width: 64rem) {
    .page-header {
        padding-block: 3.2rem;
    }

    .theme-toggle-btn:hover {
        background-color: var(--btn-bg-hover);
    }

    .user-text-analyze {
        padding-block: 4.8rem;
    }

    .user-text-input-form {
        margin-top: 4.8rem;
    }

    textarea:hover {
        background-color: var(--textarea-bg-hover);
        cursor: pointer;
    }

    textarea:focus {
        outline: none;
        box-shadow: 0 0 .8rem var(--purple-500);
        border: 1px solid var(--purple-500);
    }

    .result-box {
        padding: 1.6rem 1.6rem;
        height: 15rem;
        background-position: 120% 0;
    }

    .letter-list-item {
        grid-template-columns: auto 86% 1fr;
        gap: 1.4rem;
    }
}